n8n/workflows/1_github_sync_simple.json
{
  "name": "🔄 GitHub Sync (Simple)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/users/RaoufAddeche/repos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "get-repos",
      "name": "HTTP: Get GitHub Repos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter1",
              "leftValue": "={{ $json.fork }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "filter2",
              "leftValue": "={{ $json.stargazers_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-repos",
      "name": "Filter: Not Forks + Has Stars",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.full_name }}/readme",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-readme",
      "name": "HTTP: Get README",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "// Decode README and prepare data\nconst items = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Decode README from base64\n    const readmeContent = item.json.content ? \n      Buffer.from(item.json.content, 'base64').toString('utf-8') : \n      'No README';\n    \n    // Extract repo data from previous node\n    const repoData = item.json;\n    \n    items.push({\n      json: {\n        repo_name: repoData.name,\n        repo_full_name: repoData.full_name,\n        repo_description: repoData.description || 'Pas de description',\n        repo_url: repoData.html_url,\n        repo_stars: repoData.stargazers_count || 0,\n        repo_forks: repoData.forks_count || 0,\n        repo_language: repoData.language || 'Unknown',\n        readme_text: readmeContent.substring(0, 3000)\n      }\n    });\n  } catch (error) {\n    console.error('Error processing repo:', error);\n  }\n}\n\nreturn items;"
      },
      "id": "decode-readme",
      "name": "Code: Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GPT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un expert en rédaction de portfolio professionnel. Génère des descriptions impactantes et professionnelles en français.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyse ce projet GitHub et génère un résumé professionnel.\\n\\nProjet: {{ $json.repo_name }}\\nDescription: {{ $json.repo_description }}\\nREADME:\\n{{ $json.readme_text }}\\n\\nGénère un JSON strict (sans markdown) avec ces champs:\\n{\\n  \\\"title\\\": \\\"Titre accrocheur (max 80 caractères)\\\",\\n  \\\"short_description\\\": \\\"Description courte (max 150 caractères)\\\",\\n  \\\"long_description\\\": \\\"Description détaillée (max 400 caractères)\\\",\\n  \\\"technologies\\\": [\\\"tech1\\\", \\\"tech2\\\", \\\"tech3\\\"],\\n  \\\"category\\\": \\\"ml ou data_viz ou automation ou analysis ou web_app\\\",\\n  \\\"business_impact\\\": \\\"Impact business ou null\\\"\\n}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 800\n}",
        "options": {}
      },
      "id": "openai-call",
      "name": "OpenAI: Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse OpenAI response\nconst items = [];\n\nfor (const item of $input.all()) {\n  try {\n    const openaiResponse = item.json.choices[0].message.content;\n    \n    // Remove markdown code blocks if present\n    const cleanJson = openaiResponse\n      .replace(/```json\\n?/g, '')\n      .replace(/```\\n?/g, '')\n      .trim();\n    \n    const llmData = JSON.parse(cleanJson);\n    \n    // Get repo data from previous nodes\n    const repoData = $node[\"Code: Prepare Data\"].json;\n    \n    // Prepare for database\n    const slug = repoData.repo_name.toLowerCase().replace(/[^a-z0-9]+/g, '-');\n    \n    items.push({\n      json: {\n        title: llmData.title || repoData.repo_name,\n        slug: slug,\n        short_description: llmData.short_description || repoData.repo_description,\n        long_description: llmData.long_description || '',\n        github_url: repoData.repo_url,\n        github_repo_name: repoData.repo_full_name,\n        github_stars: repoData.repo_stars,\n        github_language: repoData.repo_language,\n        category: llmData.category || 'web_app',\n        technologies: llmData.technologies || [repoData.repo_language],\n        business_impact: llmData.business_impact || null,\n        is_published: false,\n        is_featured: false\n      }\n    });\n  } catch (error) {\n    console.error('Error parsing OpenAI response:', error);\n    console.log('Raw response:', item.json);\n    \n    // Fallback\n    const repoData = $node[\"Code: Prepare Data\"].json;\n    items.push({\n      json: {\n        title: repoData.repo_name,\n        slug: repoData.repo_name.toLowerCase().replace(/[^a-z0-9]+/g, '-'),\n        short_description: repoData.repo_description,\n        long_description: repoData.readme_text.substring(0, 400),\n        github_url: repoData.repo_url,\n        github_repo_name: repoData.repo_full_name,\n        github_stars: repoData.repo_stars,\n        github_language: repoData.repo_language,\n        category: 'web_app',\n        technologies: [repoData.repo_language],\n        business_impact: null,\n        is_published: false,\n        is_featured: false,\n        error: error.message\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "id": "parse-response",
      "name": "Code: Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO projects (\n  title, slug, short_description, long_description,\n  github_url, github_repo_name, github_stars, github_language,\n  category, technologies, business_impact,\n  is_published, is_featured, target_modes\n)\nVALUES (\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.slug }}',\n  '{{ $json.short_description.replace(/'/g, \"''\") }}',\n  '{{ $json.long_description.replace(/'/g, \"''\") }}',\n  '{{ $json.github_url }}',\n  '{{ $json.github_repo_name }}',\n  {{ $json.github_stars }},\n  '{{ $json.github_language }}',\n  '{{ $json.category }}',\n  ARRAY[{{ $json.technologies.map(t => `'${t}'`).join(',') }}],\n  {{ $json.business_impact ? `'${$json.business_impact.replace(/'/g, \"''\")}'` : 'NULL' }},\n  {{ $json.is_published }},\n  {{ $json.is_featured }},\n  ARRAY['cdi', 'freelance']\n)\nON CONFLICT (slug) \nDO UPDATE SET\n  github_stars = EXCLUDED.github_stars,\n  updated_at = CURRENT_TIMESTAMP\nRETURNING id, title;",
        "options": {}
      },
      "id": "postgres-insert",
      "name": "PostgreSQL: Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1640, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Portfolio DB"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP: Get GitHub Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get GitHub Repos": {
      "main": [
        [
          {
            "node": "Filter: Not Forks + Has Stars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Not Forks + Has Stars": {
      "main": [
        [
          {
            "node": "HTTP: Get README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Get README": {
      "main": [
        [
          {
            "node": "Code: Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Data": {
      "main": [
        [
          {
            "node": "OpenAI: Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Generate Summary": {
      "main": [
        [
          {
            "node": "Code: Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Response": {
      "main": [
        [
          {
            "node": "PostgreSQL: Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-02T14:00:00.000Z",
  "versionId": "2"
}
