n8n/workflows/4_content_review_fixed.json
{
  "name": "🔍 Content Review Alerts (Fixed)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, slug, category, created_at\nFROM projects\nWHERE is_published = false\nORDER BY created_at DESC;",
        "options": {}
      },
      "id": "get-pending-projects",
      "name": "PostgreSQL: Pending Projects",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [440, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Portfolio DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, slug, category, created_at\nFROM blog_posts\nWHERE is_published = false\nORDER BY created_at DESC;",
        "options": {}
      },
      "id": "get-draft-blogs",
      "name": "PostgreSQL: Draft Blog Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id, title, github_stars, updated_at\nFROM projects\nWHERE updated_at >= NOW() - INTERVAL '12 hours'\n  AND github_stars > 0\n  AND is_published = true\nORDER BY github_stars DESC\nLIMIT 5;",
        "options": {}
      },
      "id": "get-updated-projects",
      "name": "PostgreSQL: Recent Updates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate content needing review - Sequential execution\nconst allData = $input.all();\n\n// Data comes in sequence from the 3 previous nodes\nconst pendingProjects = allData.filter(item => item.json.slug && item.json.category);\nconst draftBlogs = allData.filter(item => item.json.slug && !item.json.github_stars);\nconst recentUpdates = allData.filter(item => item.json.github_stars && item.json.updated_at);\n\nconst review = {\n  pending_projects_count: pendingProjects.length,\n  pending_projects: pendingProjects.slice(0, 5).map(p => ({\n    title: p.json.title,\n    category: p.json.category,\n    created_at: p.json.created_at\n  })),\n  draft_blogs_count: draftBlogs.length,\n  draft_blogs: draftBlogs.slice(0, 3).map(b => ({\n    title: b.json.title,\n    created_at: b.json.created_at\n  })),\n  recent_updates_count: recentUpdates.length,\n  recent_updates: recentUpdates.slice(0, 3).map(r => ({\n    title: r.json.title,\n    stars: r.json.github_stars,\n    updated: r.json.updated_at\n  })),\n  needs_action: pendingProjects.length > 0 || draftBlogs.length > 0\n};\n\nreturn [{ json: review }];"
      },
      "id": "compile-review-list",
      "name": "Code: Compile Review List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check1",
              "leftValue": "={{ $json.needs_action }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-needs-action",
      "name": "Filter: Needs Action?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "content": "=🔍 **CONTENU EN ATTENTE DE REVIEW**\n\n## 📝 Projets à Publier ({{ $json.pending_projects_count }})\n{{ $json.pending_projects_count > 0 ? $json.pending_projects.map(p => `- **${p.title}** (${p.category}) - Créé: ${new Date(p.created_at).toLocaleDateString('fr-FR')}`).join('\\n') : '✅ Aucun projet en attente' }}\n\n{{ $json.pending_projects_count > 5 ? `... et ${$json.pending_projects_count - 5} autres` : '' }}\n\n## ✍️ Blogs Brouillons ({{ $json.draft_blogs_count }})\n{{ $json.draft_blogs_count > 0 ? $json.draft_blogs.map(b => `- **${b.title}** - Créé: ${new Date(b.created_at).toLocaleDateString('fr-FR')}`).join('\\n') : '✅ Aucun blog en brouillon' }}\n\n{{ $json.recent_updates_count > 0 ? `## 🆕 Projets Récemment Mis à Jour\n${$json.recent_updates.map(r => `- **${r.title}**: ${r.stars} ⭐`).join('\\n')}` : '' }}\n\n---\n**Action requise:** Reviewez et publiez le contenu via:\n- Portfolio: http://localhost:3000\n- API: http://localhost:8000/docs\n\n💡 Tip: Les projets auto-importés depuis GitHub sont en mode brouillon par défaut pour validation.",
        "options": {}
      },
      "id": "format-alert",
      "name": "Format: Review Alert",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "PostgreSQL: Pending Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Pending Projects": {
      "main": [
        [
          {
            "node": "PostgreSQL: Draft Blog Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Draft Blog Posts": {
      "main": [
        [
          {
            "node": "PostgreSQL: Recent Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: Recent Updates": {
      "main": [
        [
          {
            "node": "Code: Compile Review List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Compile Review List": {
      "main": [
        [
          {
            "node": "Filter: Needs Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Needs Action?": {
      "main": [
        [
          {
            "node": "Format: Review Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-02T16:45:00.000Z",
  "versionId": "2"
}
